@model Produtos

<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImagemUrl" width="500" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Nome</h4>
                <!--Text-->
                <p class="card-text">@Model.DescricaoLonga.</p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="Produto" asp-action="List" class="btn btn-default">Todos os Produtos</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="Carrinho" asp-action="AddCarrinho" asp-route-produtoId="@Model.ProdutoId">
                        Add @Model.Nome ao carrinho
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>